<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/AnLachaBacach/index.json" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="martin.montgomery@gmail.com" />
            <add key="ClearTextPassword" value="51e8ace47de04177db06490ab18bfa2f150fb06a" />
        </github>
    </packageSourceCredentials>
</configuration>